// reset
/* 清除内外边距 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}


/* 设置默认字体 */

body,
button,
input,
select,
textarea {
    /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1.3 "Microsoft YaHei", Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    /* 用 ascii 字符表示，使得在任何编码下都无问题 */
    color: #333;
}

/* 重置列表元素 */

ul,
ol {
    list-style: none;
}


/* 重置文本格式元素 */

a {
    text-decoration: none;
    color: #666;
}

button,
input,
select,
textarea {
    font-size: 100%;
    /* 使得表单元素在 ie 下能继承字体大小 */
}


/* 重置表格元素 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* 重置 hr */

hr {
    border: none;
    height: 1px;
}

a:link:hover {
    color: #252933;
    text-decoration: none;
}

/* 清除浮动 */

.clearfix::after {
    display: block;
    height: 0;
    content: "";
    clear: both;
    visibility: hidden;
}


//base

@mixin interactYS {
    display: inline-block;
    height: 50%;
    flex: 1;
    vertical-align: center;
    font-size: 0.75rem;
    text-align: center;

    img {
        height: 100%;
        width: 1rem;
    }

    span {
        // height: 100%;
        width: 1.25rem;
        padding-left: 0.5rem;
    }
}

html {
    font-size: 12px;
    color: #333;
    background-color: $bg-color ;
}

.navItem {
    // color: $font-grey;
    padding: 0 1rem;
    font-size: 1.167rem;
    margin: 0;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    a {
        color: $font-grey;
    }
}

// 更改主题
.theme-night {
    // #121212;
    background-color: #000;

    .main-header,
    .navView,
    .listHeader,
    .showArticle,
    .userHeader,
    .userList .item {
        background-color: #121212 !important;
    }

    color: #fff;

    // 文章item
    .relativeInf {
        // background-color: rgba(0, 0, 0, 0.699);
        color: #b1afaf !important;
    }

    .articleInf .content {
        color: #b1afaf;
    }

    // 首页导航栏
    .container {
        .header-nav {
            .main-nav-list {
                .nav-list {
                    .mainHrederItem {
                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    // 文章导航栏
    .article-nav {
        .nav-item {
            color: #fff;
        }
    }
}