// $bcg: '#f4f5f5'
@mixin interactYS {
    display: inline-block;
    height: 50%;
    flex: 1;
    vertical-align: center;
    font-size: 0.75rem;
    text-align: center;

    img {
        height: 100%;
        width: 1rem;
    }

    span {
        // height: 100%;
        width: 1.25rem;
        padding-left: 0.5rem;
    }
}

html {
    font-size: 12px;
    color: #333;
    background-color: #f4f5f5;
}

.nav-item {
    color: #86909c;
    padding: 0 1rem;
    font-size: 1.167rem;
    margin: 0;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    a {
        color: #515767;
    }
}